<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithm Test: {{ algorithm_name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script>
    const algorithmData = {
        url: "{% url 'start_algorithm' %}",
        csrfToken: "{{ csrf_token }}",
        algorithmName: "{{ algorithm_name }}"
    };
    const resultUrl = "{% url 'result' %}";
    </script>
</head>
<body>
    <div class="nav-bar">
        <a href="{% url 'home' %}" class="back-button">Wstecz</a>
    </div>
    <h1>Test Algorithm: {{ algorithm_name }}</h1>
    <label for="toggle-functions" class="toggle-label">Select Functions:</label>
    <button id="toggle-functions" class="toggle-button">Pokaż/Wybierz funkcje</button>

    <div class="checkbox-container" id="checkbox-list">
        {% for func_name in functions.keys %}
            <div class="checkbox-item">
                <input type="checkbox" name="functions" value="{{ func_name }}" id="func_{{ func_name }}">
                <label for="func_{{ func_name }}">{{ func_name }}</label>
            </div>
        {% endfor %}
    </div>



    <br><br>

    <label for="dimensions">Dimensions:</label>
    <input type="number" id="dimensions" value="2"><br><br>

    <label for="populationSize">Population Size:</label>
    <input type="number" id="populationSize" value="50"><br><br>

    <label for="maxIterations">Max Iterations:</label>
    <input type="number" id="maxIterations" value="100"><br><br>

    <button onclick="startAlgorithm()">Start</button>
    <button id="pauseButton" style="display: none;" onclick="pauseAlgorithm()">Pause</button>
    <button id="resumeButton" style="display: none;" onclick="resumeAlgorithm()">Resume</button>


    <div id="results"></div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
